<form>
  <div class="d-flex justify-content-center">
    <div class="bg-white p-3 rounded mb-5">
      <h2>Adicionar Agência</h2>
      <p>Preencha o formulário a seguir para adicionar uma nova agência</p>
      
      <div class="d-flex justify-content-between">
        <div class="form-outline form-white my-2">
          <label class="form-label" for="formWhite">Id</label>
          <input type="text" id="formWhite" class="form-control" />
        </div>
        <div class="form-outline form-white my-2 ">
          <label class="form-label" for="formWhite">Id do Banco</label>
          <input type="text" id="formWhite" class="form-control" />
        </div>
      </div>
      <div class="form-outline form-white my-2">
        <label class="form-label" for="formWhite">Endereço</label>
        <input type="text" id="formWhite" class="form-control" />
      </div>

      <div class="d-flex justify-content-between">
        <div class="form-outline form-dark my-2">
          <label class="form-label" for="formWhite">Fone</label>
          <input type="text" id="formWhite" class="form-control" />
        </div>
        <div class="form-outline form-white my-2">
          <label class="form-label" for="formWhite">Fone 2</label>
          <input type="text" id="formWhite" class="form-control" />
        </div>
      </div>

      <div class="d-flex justify-content-between">
        <div class="form-outline form-white my-2">
          <label class="form-label" for="formWhite">Tipo</label>
          <input type="text" id="formWhite" class="form-control" />
        </div>
        <div class="form-outline form-white my-2">
          <label class="form-label" for="formWhite">Tipo 2</label>
          <input type="text" id="formWhite" class="form-control" />
        </div>
      </div>

      <div class="d-flex justify-content-between">
        <div class="form-outline form-white my-2">
          <label class="form-label" for="formWhite">Agência</label>
          <input type="text" id="formWhite" class="form-control" />
        </div>
        <div class="form-outline form-white my-2">
          <label class="form-label" for="formWhite">Nome da Agência</label>
          <input type="text" id="formWhite" class="form-control" />
        </div>
      </div>
      <button type="submit" class="btn btn-outline-dark">Adicionar</button>
    </div>
  </div>
</form>