<form>
    <div class="d-flex justify-content-center">
        <div class="bg-white p-3 rounded mb-5">
            <h2>Adicionar Banco</h2>
            <p>Preencha o formulário a seguir para adicionar um novo banco</p>

            <div class="d-flex justify-content-between">
                <div class="form-outline form-white my-2">
                    <label class="form-label" for="formWhite">Id</label>
                    <input type="text" id="formWhite" class="form-control" />
                </div>
                <div class="form-outline form-white my-2 ">
                    <label class="form-label" for="formWhite">Nome do Banco</label>
                    <input type="text" id="formWhite" class="form-control" />
                </div>
            </div>
            <div class="form-outline form-white my-2">
                <label class="form-label" for="formWhite">Número</label>
                <input type="text" id="formWhite" class="form-control" />
            </div>
            <button type="submit" class="btn btn-outline-dark">Adicionar</button>
        </div>
    </div>
</form>