<table class="table table-dark table-hover align-middle">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id Banco</th>
            <th scope="col">Endereço</th>
            <th scope="col">Fone</th>
            <th scope="col">Tipo</th>
            <th scope="col">Fone 1</th>
            <th scope="col">Tipo 1</th>
            <th scope="col">Agencia</th>
            <th scope="col">Nome da Agencia</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        <th scope="row">1</th>
        <td>002</td>
        <td>Rio de Janeiro</td>
        <td>62981157002</td>
        <td>Banco Físico</td>
        <td>6233330309</td>
        <td>Banco Digital</td>
        <td>05874</td>
        <td>Agencia Dumont</td>
        <td>
            <a href="#" type="button" class="btn btn-outline-light btn-small"><i class="bi bi-eye"></i> Ver</a>
            <a href="#" type="button" class="btn btn-outline-light btn-small"><i class="bi bi-pencil"></i> Editar</a>
            <a href="#" type="button" class="btn btn-outline-light btn-small"><i class="bi bi-x-lg"></i> Excluir</a>
        </td>


    </tbody>
</table>