<table class="table table-dark table-hover  table-bordered align-middle">
  <thead class="table-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Número</th>
      <th scope="col" class="text-center">Ações</th>
    </tr>
  </thead>
  {{#each allBanks}}
  <tbody>
    <th scope="row">{{id}}</th>
    <td scope="row">{{nome}}</td>
    <td scope="row">{{numero}}</td>
    <td class="text-center">
      <a href="#" type="button" class="btn btn-outline-light btn-small"><i class="bi bi-eye"></i> Ver</a>
      <a href="#" type="button" class="btn btn-outline-light btn-small"><i class="bi bi-pencil"></i> Editar</a>
      <a href="#" type="button" class="btn btn-outline-light btn-small"><i class="bi bi-x-lg"></i> Excluir</a>
    </td>
  </tbody>
  {{/each}}
</table>