<form action="">
    <p>Nome do Banco:</p>
    <input type="text" name="nomeBanco" id="nomeBanco">
    
    <p>Número do Banco:</p>
    <input type="number" name="numBanco" id="numBanco">
    
    <p>Número da Agência:</p>
    <input type="number" name="numAgencia" id="numAgencia">
    <input type="submit" value="Cadastrar">
</form>