<!--Tentando por o Ícone-->
<br><br><br>
<h1 class="text-light text-center">Bem-vindo ao <br>Express Bank Manager</h1>
<p class="text-light text-opacity-75 text-center">Um CRUD criado para a matéria de Programação Web</p>
<div class="container d-flex justify-content-center">
    <a href="/banks" type="button" class="btn btn-light mx-2">Adicionar Bancos</a>
    <a href="/createAgency" type="button" class="btn btn-outline-light mx-2">Adicionar Agências</a>
</div>