<form>
    <div class="d-flex justify-content-center">
        <div class="bg-white p-3 rounded mb-5">
            <h2>Login</h2>
            <p>Faça o Login para continuar</p>

            <div class="form-outline form-white my-2">
                <label class="form-label" for="formWhite">Usuário</label>
                <input type="text" id="formWhite" class="form-control" />
            </div>

            <div class="form-outline form-white my-2">
                <label class="form-label" for="formWhite">Senha</label>
                <input type="text" id="formWhite" class="form-control" />
            </div>
            <p>Não possui uma conta? <a href="/register">Cadastrar</a></p>
            <button type="submit" class="btn btn-outline-dark">Logar</button>
        </div>
    </div>
</form>