<form>
    <div class="d-flex justify-content-center">
        <div class="bg-dark p-3 rounded mb-5 border border-light">
            <h2 class="text-light">Login</h2>
            <p class="text-light">Faça o Login para continuar</p>

            <div class="form-outline form-white my-2">
                <label class="form-label text-light" for="formWhite">Usuário</label>
                <input type="text" id="formWhite" class="form-control bg-dark text-light" />
            </div>

            <label for="inputPassword5" class="form-label text-light">Senha</label>
            <input type="password" id="inputPassword5" class="form-control bg-dark text-light" aria-describedby="passwordHelpBlock">

            <p class="text-light">Não possui uma conta? <a class="text-decoration-none" href="/register">Cadastrar</a></p>
            <button type="submit" class="btn btn-outline-light">Logar</button>
        </div>
    </div>
</form>