<form>
    <div class="d-flex justify-content-center">
        <div class="bg-white p-3 rounded mb-5">
            <h2>Cadastrar</h2>
            <p>Preencha os dados necessários realizar o cadastro:</p>

            <div class="form-outline form-white my-2">
                <label class="form-label" for="formWhite">Usuário</label>
                <input type="text" id="formWhite" class="form-control" />
            </div>

             <div class="form-outline form-white my-2">
                <label class="form-label" for="formWhite">E-mail</label>
                <input type="text" id="formWhite" class="form-control" />
            </div>

            <div class="form-outline form-white my-2">
                <label class="form-label" for="formWhite">Senha</label>
                <input type="text" id="formWhite" class="form-control" />
            </div>
            <div class="form-outline form-white my-2">
                <label class="form-label" for="formWhite">Confirme a senha</label>
                <input type="text" id="formWhite" class="form-control" />
            </div>

            <button type="submit" class="btn btn-outline-dark mt-3">Cadastrar</button>
        </div>
    </div>
</form>