<form>
    <div class="d-flex justify-content-center">
        <div class="bg-dark p-3 rounded mb-5 border border-light">
            <h2 class="text-light">Cadastrar</h2>
            <p class="text-light">Preencha os dados necessários realizar o cadastro:</p>

            <div class=" my-2">
                <label class="form-label text-light" for="formWhite">Usuário</label>
                <input type="text" id="formWhite" class="form-control bg-dark text-light" />
            </div>

            <div class=" my-2">
                <label class="form-label text-light" for="formWhite">E-mail</label>
                <input type="text" id="formWhite" class="form-control bg-dark text-light" />
            </div>

            <div class="my-2">
                <label for="inputPassword5" class="form-label text-light">Senha</label>
                <input type="password" id="inputPassword5" class="form-control bg-dark text-light" aria-describedby="passwordHelpBlock">
            </div>

            <label for="inputPassword5" class="form-label text-light">Confirme a Senha</label>
            <input type="password" id="inputPassword5" class="form-control bg-dark text-light" aria-describedby="passwordHelpBlock">

            <button type="submit" class="btn btn-outline-light mt-3">Cadastrar</button>
        </div>
    </div>
</form>